.NAGASE-Kotono {
    color: #5b88d9;
}

.IBUKI-Nagisa {
    color: #f66ea0;
}

.SHIRAISHI-Saki {
    color: #69cfb9;
}

.NARUMIYA-Suzu {
    color: #f2ee57;
}

.HAYASAKA-Mei {
    color: #df3d52;
}

.KAWASAKI-Sakura {
    color: #f69841;
}

.HYODO-Shizuku {
    color: #9ac99b;
}

.SHIRAISHI-Chisa {
    color: #e7bbd2;
}

.ICHINOSE-Rei {
    color: #ace1ef;
}

.SAEKI-Haruko {
    color: #c1a8e2;
}

.TENDO-Rui {
    color: #fdfaf3;
}

.SUZUMURA-Yu {
    color: #acce6f;
}

.OKUYAMA-Sumire {
    color: #ffe495;
}

.KANZAKI-Rio {
    color: #af5287;
}

.IGAWA-Aoi {
    color: #7078cd;
}

.KOMIYAMA-Ai {
    color: #7dcdee;
}

.AKAZAKI-Kokoro {
    color: #fb9cb4;
}

.NAGASE-Mana {
    color: #f151b1
}