header {
    color: skyblue;
    font-size: 20pt;
}

footer {
    color: white;
    background-color: rgb(0, 0, 100);
}

footer a:visited {
    color: lightgreen;
}

footer a:link {
    color: yellow;
}
