{% extends "blog/base.html" %}
{% load static %}
{% block title %}Article{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/article.css' %}">{% endblock %}
{% block content %}
<div>
    <h1>{{ article.title }}</h1>
</div>
<div>
    {% if article.bureau %}
    局: <a href="{% url 'blog:bureau' article.bureau.code %}">{{ article.bureau }}</a>
    {% endif %}<br>
    {% if article.committees.all %}委員会: {% endif %}
    {% for committee in article.committees.all %}
    <a href="{% url 'blog:committee' committee.code %}">{{ committee.name }}</a>
    {% endfor %}
</div>
<div>
    作成日時：{{ article.created_at }}<br>
    更新日時：{{ article.updated_at }}<br>
</div>
<div>
    {{ article.text | safe }}
</div><br>
<div>
    <a href="{% url 'blog:articles' %}">一覧へ</a>
</div>
{% endblock %}
{% block footer %}
<div>
    <a href="{% url 'blog:index' %}">トップへ</a>
</div>
{% endblock %}