<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <link rel="icon" href="{% static 'blog/icon/hoshinonaka_icon.png' %}" type="image/png">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %} Hoshinonaka</title>
</head>

<header>
    <a href="{% url 'blog:index' %}"><img src="{% static 'blog/png/hoshinonaka.png' %}" alt="top"></a>
    {% block header %}{% endblock %}
</header>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

<footer>
    {% block footer %}{% endblock %}
    Hoshinonaka/Snak since 2020
</footer>

</html>