{% extends "blog/base.html" %}
{% block title %}Snak/Hoshinonaka{% endblock %}
{% block content %}
ほしのなか政府は次の{{ bureaus.count }}局によって運営されています。
<ul>
    {% for bureau in bureaus %}
    <li><a href="{% url 'blog:bureau' bureau.code %}">{{ bureau.name }}</a></li>
    {% endfor %}
</ul>

<div>
    <h1>最新記事</h1>
    <ul>
        {% for article in new_articles %}
        <li><a href="{% url 'blog:article' article.id %}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'blog:articles' %}">全記事一覧へ</a>
</div>


<div>
    <a href="{% url 'blog:committees' %}">全委員会一覧へ</a>
</div>
{% endblock %}
{% block footer %}
<div><a href="{% url 'blog:index' %}">トップへ</a></div>
{% endblock %}
