<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %} Hoshinonaka</title>
</head>

<header>
    Hoshinonaka
</header>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>

<footer>
    {% block footer %}{% endblock %}
</footer>

</html>